@use "../abstract/index" as abs;

main.main__globaltrading {
    display: flex;
    justify-content: center;
    align-content: center;
    
    height: 100%;
    min-height: max-content;
    padding: 2rem;

    .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;
        padding: 1rem .75rem;

        background-color:  abs.color(pwhite);

        h1 {
            width: 100%;
            margin: 2rem 0;
            text-align: center;

            font-weight: bold;
            color:  abs.color(primary);
            font-size: 3rem;
        }

        div {
            display: flex;
            align-items: center;

            width: 100%;

            div {
                display: flex;
                flex-direction: column;

                width: 100%;

                p {
                    width: 100%;
                    padding: 0 3rem 3rem;
                    margin: 0;
                    text-align: justify;
    
                    font-size: 1.5rem;

                    &#main__globaltrading-sign {
                        text-align: center;
                        font-weight: bold;
                    }
                }
            }   

            iframe {
                width: 50%;
                height: 30rem;
                margin: 2rem;

                box-shadow: 0 0 .5rem #273858;
            }
        }
    }
}
